html {
    scroll-behavior: smooth;
}


html, body, h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

body {

    --color1: white;
    --color2: #ff5851;
    --color3: #1c1b20;
    --color4: #E8E8E8;
    --color5: #DCDCDC;
    --color6: #414a6b;;
}

h1, h2, h3, h4, h5 {

    font-family: 'Fira Sans', sans-serif;
    letter-spacing: -0.1rem;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--color3);
}

#wrapper {

    height: auto;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

#lines {
    box-sizing: border-box;
    top: 50px;
    position: absolute;
    height: calc(100% - 50px);
    width: calc(100% - 100px);
    z-index: -100;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#linebox1 {
    border-left: solid var(--color5) 1px;
}

.linebox {
    border-right: solid var(--color5) 1px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}


.theline {
    width: 70px;
    padding-bottom: 10px;

}

.linetext {
    font-size: 0.9rem;
    font-weight: bold;
    position: relative;
    right: 0px;
    color: var(--color5);
    transform: rotate(90deg);
    
}

#linetext1 {
    top: 20%;
}

#linetext2 {
    top: 40%;
}

#linetext3 {
    top: 60%;
}

#linetext4 {
    top: 80%;
}

#linetext5 {
    top: 15%;
}

#linetext6 {
    top: 35%;
}

#linetext7 {
    top: 55%;
}

#linetext8 {
    top: 75%;
}

/*---------------------------*/


#start {
    height: calc(100vh - 100px);
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#startwrap {

    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

/* orangebox :D */

#orangebox {
    background: var(--color2);
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
}

#startcontwrap {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
}

#startcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

#startcont h1 {
    font-size: 5rem;
    font-family: 'Fira Sans', sans-serif;
    color: var(--color3);
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
}

#startcont p {
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 20px;
    letter-spacing: 0rem;
}

#minäcont {
    position: relative;
}

#minä {
    width: 100%;
    max-width: 250px;
    border-radius: 200px;
    position: relative;
    filter: brightness(110%);
}





/*---------------------------*/

#mewrap {

    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}

#mewrap2 {
    background: var(--color4);
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    opacity: 0;
    position: relative;
    top: 50px;
}

#metitle {
    height: auto;
}

#metitleh2 {
    font-size: 4rem;
    color: var(--color3);
}

#metext {
    font-weight: 500;
    
}

/*---------------------------*/

#mewidewrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
    margin-bottom: 100px;
}

#mewide {
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 50px;
    opacity: 0;
}

#mewideorange {
    width: 100%;
    max-width: 900px;
    background: var(--color2);
}


/*---------------------------*/

#skillswrap {
    margin-bottom: 100px;
    
    display: flex; 
    align-items: center;

}

#skillstext {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px;
    position: relative;
    top: 50px;
    opacity: 0;
}

#skillstitle {
    font-size: 4rem;
    color: var(--color3);
}


.skillssub {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color2);
}

#portfolio-link {
    color: var(--color2);
    font-weight: 500;
}


/*---------------------------*/

#cvwrap {
    height: auto;
    
    display: flex;
    align-items: center;
    
    
}

#cvtext {
    margin: 0 auto;
    max-width: 1100px;
    background: var(--color4);
    padding: 30px;
    position: relative;
    top: 50px;
    opacity: 0;
}

#cvtitle {
    font-size: 3rem;
    color: var(--color3);
}

.jobtext {
    font-size: 1.1rem;
    padding-bottom: 15px;
}

.jobtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color2);
}

#education h4 {
    font-size: 2.5rem;
    color: var(--color3);
}


#cvlink {
    color: var(--color2);
}




/*---------------------------*/


#interestswrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

#interestswrap2 {
    margin: 0 auto;
    max-width: 900px;
    position: relative;
    top: 50px;
    opacity: 0;
}

#intereststitle {
    font-size: 4rem;
    color: var(--color6);
}

#intereststext {
    font-size: 1.2rem;
}

/*---------------------------*/

#contactwrap {
    min-height: 100vh;
    display: flex;
    align-items: center;

    
}

#contacttext {
    margin: 0 auto;
    background: var(--color6);
    width: 100%;
    max-width: 550px;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    top: 50px;
    opacity: 0;
}

#contacttext2 {
    word-break: break-all;
    text-align: center;
    margin: 0 auto;
}

#contacttext p {
    font-size: 1.3rem;
    color: white;

}



/*---------------------------*/

@media (max-width: 1400px) {

#wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

#start {
    height: calc(100vh - 60px);
    padding-bottom: 10px;

}


#lines {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: calc(100% - 20px);

}

#middleline {
    display: none;
}

}


/*---------------------------*/

@media (max-width: 1000px) {

    p {

        font-size: 0.95rem;
        
    }


    #startcont h1 {
        font-size: 4.3rem;

    }
    
    #startcont p {
        font-size: 1.7rem;

    }

    #minä {
        max-width: 220px;

    }

    #mewrap2 {
        padding: 10px;
    }

    #cvtext {
        padding: 10px;
    }


    #metitleh2 {
        font-size: 3rem;
    }

    #skillstitle {
        font-size:3rem;
    }

    #cvtitle {
        font-size: 2.5rem;
    }

    #education h4 {
        font-size: 2rem;

    }

    #intereststitle {
        font-size: 3rem;

    }

    .skillssub {
        font-size: 1.1rem;

    }


    .jobtitle {
        
        font-size: 1.1rem;

    }

    .theline {
        width: 60px;
        
    
    }

 }




 /*---------------------------*/

@media (max-width: 700px) {


    .linetext {
        display: none;
    }

    #startcont h1 {
        font-size: 3.5rem;

    }
    
    #startcont p {
        font-size: 1.4rem;

    }

    #minä {
        max-width: 200px;

    }

    #contacttext p {
        font-size: 1rem;
        color: white;
    
    }

    #metitleh2 {
        font-size: 2.5rem;
        
    }

    #skillstitle {
        font-size:2.5rem;
    }

    #cvtitle {
        font-size: 2rem;
    }



    #intereststitle {
        font-size: 2.5rem;

    }

 }

  /*---------------------------*/

@media (max-width: 450px) {
  
    #startcont h1 {
        font-size: 3rem;

    }
    
    #startcont p {
        font-size: 1.1rem;

    }

    #minä {
        
        max-width: 180px;

    }


    #intereststitle {
        font-size: 2rem;

    }

}
















